<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    {% include "components/navbar.html" %}

<div class="d-flex flex-column justify-content-start gap-4 " style="width: 100%; padding-top: 2px;"> <!-- whole content container-->
    {% include "components/header.html" with page_name="Tables" sous_page_name="Tarification"%}

    <div class="d-flex flex-column align-items-center justify-content-center px-4 gap-4"> <!-- table content container-->
        <div class="table-frame overflow-hidden" style="width: 100%;">
            <table class="table table-hover table-md table-outline">
                <thead>
                    <tr>
                        <th scope="col">ID Product</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Price</th>
                        <th scope="col">Created at</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products%}
                    <tr>
                        <td scope="row">
                            <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckboxStretched">
                            <label class="form-check-label " for="firstCheckboxStretched">{{product.id_prd}}</label>
                        </td>
                        <td>{{product.name}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.created_at}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="d-flex justify-content-between align-items-center" style="width: 100%;"> <!-- pagination container-->
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item"><a href="#" class="page-link">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active">
                    <a class="page-link" href="#" aria-current="page">2</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
            <p class="disabled-text" style="font-size: 14px;">Monter 11 resultat de 1000 Resultat</p>
            
        </div>
    </div>
</div>
    {% include "components/add-popup.html" %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
