<div class="card pt-5" style="height: 450px; width: 360px;">
  <div class="card-title mb-3 ps-5">
      <h5>Top Chauffeur</h5>
  </div>
  <div class="card-body ps-2 scroll-card">

    <!-- Item 1 -->
    <div class="item card-container" style="border-radius: 8px;">
      <p class="card-item">Ahmed Bensalem</p>
      <small class="text-muted">+1 234 567 890</small>
    </div>

    <!-- Item 2 -->
    <div class="item mb-2 px-3 py-1" style="border-radius: 8px;">
      <p class="m-0" style = "font-size : 18px ; font-weight :500 ;">John Doe</p>
      <small class="text-muted">+1 234 567 890</small>
    </div>

    <!-- Item 3 -->
    <div class="item mb-2 px-3 py-1" style="border-radius: 8px;">
      <p class="m-0" style = "font-size : 18px ; font-weight :500 ;">John Doe</p>
      <small class="text-muted">+1 234 567 890</small>
    </div>

    <!-- Item 1 -->
    <div class="item mb-2 px-3 py-1" style="border-radius: 8px;">
      <p class="m-0" style = "font-size : 18px ; font-weight :500 ;">John Doe</p>
      <small class="text-muted">+1 234 567 890</small>
    </div>

    <!-- Item 2 -->
    <div class="item mb-2 px-3 py-1" style="border-radius: 8px;">
      <p class="m-0" style = "font-size : 18px ; font-weight :500 ;">John Doe</p>
      <small class="text-muted">+1 234 567 890</small>
    </div>

    <!-- Item 3 -->
    <div class="item mb-2 px-3 py-1" style="border-radius: 8px;">
      <p class="m-0 m-0" style = "font-size : 18px ; font-weight :500 ;">John Doe</p>
      <small class="text-muted">+1 234 567 890</small>
    </div>

    <div class="item mb-2 px-3 py-1" style="border-radius: 8px;">
      <p class="m-0" style = "font-size : 18px ; font-weight :500 ;">John Doe</p>
      <small class="text-muted">+1 234 567 890</small>
    </div>

    <div class="item mb-2 px-3 py-1" style="border-radius: 8px;">
      <p class="m-0" style = "font-size : 18px ; font-weight :500 ;">John Doe</p>
      <small class="text-muted">+1 234 567 890</small>
    </div>
    
  </div>
</div>
