    <div class="d-flex flex-column justify-content-start gap-4 " style="width: 100%; padding-top: 2px;">
        <div class="px-4 d-flex gap-xxl-4 align-items-center py-4 divisor-buttom justify-content-between align-items-center" style="width: 100%;" > <!-- header container-->
            <h3>{{ page_name }}</h3>
            <div class="d-flex gap-3 justify-content-between align-items-center">
                <button class="btn btn-secondary btn-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                    <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6"/>
                    </svg>
                </button>
                
                <button class="btn btn-secondary btn-md gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                    <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5"/>
                    </svg>
                Share</button>
            </div>
        </div>

        <div class="d-flex flex-column justify-content-ce align-items-center gap-3" style="width: 100%;"> <!-- all buttons container-->
            <div class="d-flex justify-content-between align-items-center gap-3 px-4" style="width: 100%;"> <!-- search + 2 buttons container-->
                <form style="width: 100%;">
                    <div class="position-relative">
                        <input type="search" class="form-control pe-4 rounded-3 py-1.5" placeholder="Search" aria-label="Search">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-search position-absolute top-50 end-0 translate-middle-y me-3 text-muted" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
                    </div>
                </form>

                <div class="d-flex gap-3 justify-content-between align-items-center">

                    <div class="dropdown ">
                    <button class="btn btn-secondary btn-md dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Sort By
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Old</a></li>
                        <li><a class="dropdown-item" href="#">New</a></li>
                    </ul>
                    </div>

                    <button class="btn btn-secondary btn-md gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
                    <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z"/>
                    </svg>
                    Filter</button>

                </div>
            </div>

            <div class="my-1 d-flex justify-content-between align-items-center px-4" style="width: 100%;"> <!-- 3 buttons container -->
                {% if page_name == "Tables" %}
                <div class="dropdown ">
                    <button class="btn btn-secondary btn-md dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{sous_page_name}}
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'client' %}">Client</a></li>
                        <li><a class="dropdown-item" href="{% url 'chauffeur' %}">Chaffeur</a></li>
                        <li><a class="dropdown-item" href="{% url 'vehicule' %}">Vehicule</a></li>
                        <li><a class="dropdown-item" href="{% url 'destination' %}">Destination</a></li>
                        <li><a class="dropdown-item" href="{% url 'type_service' %}">Type Service</a></li>
                        <li><a class="dropdown-item" href="{% url 'tarification' %}">Tarifaction</a></li>
                    </ul>
                </div>

                {% elif page_name == "Expedition" or page_name == "Tournee" %}
                    <div class="navtabs divisor-buttom gap-6 px-4" id="underlineTabs" role="tablist" style="margin-bottom: 0;">
                        <div class="nav-item" role="presentation">
                            <a class="nav-link {% if page_name == 'Expedition' %}active{% endif %}" 
                            href="{% url 'expedition' %}">
                                Expeditions
                            </a>
                        </div>
                        <div class="nav-item" role="presentation">
                            <a class="nav-link {% if page_name == 'Tournee' %}active{% endif %}" 
                            href="{% url 'tournee' %}">
                                Tournee
                            </a>
                        </div>
                    </div>

                {% elif page_name == "Facturation" or page_name == "Paiement" %}
                    <div class="navtabs divisor-buttom gap-6 px-4" id="underlineTabs" role="tablist" style="margin-bottom: 0;">
                        <div class="nav-item" role="presentation">
                            <a class="nav-link {% if page_name == 'Facturation' %}active{% endif %}" 
                            href="{% url 'facturation' %}">
                                Facturation
                            </a>
                        </div>
                        <div class="nav-item" role="presentation">
                            <a class="nav-link {% if page_name == 'Paiement' %}active{% endif %}" 
                            href="{% url 'paiement' %}">
                                Paiement
                            </a>
                        </div>
                    </div>
                {% elif page_name == "Incident" or page_name == "Reclamation" %}
                    
                {% endif %}
                
                <div class="d-flex gap-3 justify-content-between align-items-center {{ container_width|default:'' }}">
                    <button class="btn btn-secondary btn-md gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
                        <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1"/>
                        <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1"/>
                        </svg>
                    Print</button>
                    
                    <button id="addBtn" class="btn btn-primary btn-md" data-bs-toggle="modal" data-bs-target="#infoModal" id="plus-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                        </svg>
                    {{sous_page_name}}</button>
                </div>
            </div>  
        </div>
    </div>