<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>table</title>
</head>
<body>
        <div class="d-flex flex-column align-items-center justify-content-center px-4 gap-4"> <!-- table content container-->
        <div class="table-frame overflow-hidden" style="width: 100%;">
            <table class="table table-hover table-md table-outline">
                <thead>
                    <tr>
                        <th scope="col">ID Client</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Num Téléphone</th>
                        <th scope="col">Email</th>
                        <th scope="col">Solde Éventuel</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">
                             
                            <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckboxStretched">
                            <label class="form-check-label " for="firstCheckboxStretched">1</label>
                        
                        </td>
                        <td>Benali</td>
                        <td>Mohamed</td>
                        <td>0551234567</td>
                        <td>m.benali@email.com</td>
                        <td>1 200 DA</td>
                    </tr>
                    <tr>
                        <td scope="row">
                             
                            <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckboxStretched">
                            <label class="form-check-label " for="secondCheckboxStretched">2</label>
                            
                        </td>
                        <td>Khelifi</td>
                        <td>Yasmine</td>
                        <td>0662983410</td>
                        <td>y.khelifi@email.com</td>
                        <td>0 DA</td>
                    </tr>
                    <tr>
                        <td scope="row">
                             
                            <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckboxStretched">
                            <label class="form-check-label " for="thirdCheckboxStretched">3</label>
                            
                        </td>
                        <td>Boudjemaa</td>
                        <td>Ahmed</td>
                        <td>0770458921</td>
                        <td>a.boudjemaa@email.com</td>
                        <td>750 DA</td>
                    </tr>
                    <tr>
                        <td scope="row">
                             
                            <input class="form-check-input me-1" type="checkbox" value="" id="fourthCheckboxStretched">
                            <label class="form-check-label " for="fourthCheckboxStretched">4</label>
                            
                        </td>
                        <td>Saidi</td>
                        <td>Amel</td>
                        <td>0540126788</td>
                        <td>a.saidi@email.com</td>
                        <td>300 DA</td>
                    </tr>
                    <tr>
                        <td scope="row">
                             
                            <input class="form-check-input me-1" type="checkbox" value="" id="fifthCheckboxStretched">
                            <label class="form-check-label " for="fifthCheckboxStretched">5</label>
                            
                        </td>
                        <td>Haddad</td>
                        <td>Karim</td>
                        <td>0655773290</td>
                        <td>k.haddad@email.com</td>
                        <td>0 DA</td>
                    </tr>
                    <tr>
                        <td scope="row">
                             
                            <input class="form-check-input me-1" type="checkbox" value="" id="sixthCheckboxStretched">
                            <label class="form-check-label " for="sixthCheckboxStretched">6</label>
                            
                        </td>
                        <td>Meziane</td>
                        <td>Nesrine</td>
                        <td>0563412956</td>
                        <td>n.meziane@email.com</td>
                        <td>2 500 DA</td>
                    </tr>
                    <tr>
                        <td scope="row">
                             
                            <input class="form-check-input me-1" type="checkbox" value="" id="seventhCheckboxStretched">
                            <label class="form-check-label " for="seventhCheckboxStretched">7</label>
                            
                        </td>
                        <td>Rahmani</td>
                        <td>Abdelkader</td>
                        <td>0799881432</td>
                        <td>a.rahmani@email.com</td>
                        <td>1 000 DA</td>
                    </tr>
                    <tr>
                        <td scope="row">
                             
                            <input class="form-check-input me-1" type="checkbox" value="" id="eighthCheckboxStretched">
                            <label class="form-check-label " for="eighthCheckboxStretched">8</label>
                            
                        </td>
                        <td>Zeroual</td>
                        <td>Imane</td>
                        <td>0678229011</td>
                        <td>i.zeroual@email.com</td>
                        <td>150 DA</td>
                    </tr>
                    <tr>
                        <td scope="row">
                             
                            <input class="form-check-input me-1" type="checkbox" value="" id="ninthCheckboxStretched">
                            <label class="form-check-label " for="ninthCheckboxStretched">9</label>
                            
                        </td>
                        <td>Mansouri</td>
                        <td>Riad</td>
                        <td>0520647385</td>
                        <td>r.mansouri@email.com</td>
                        <td>900 DA</td>
                    </tr>
                    <tr>
                        <td scope="row">
                             
                            <input class="form-check-input me-1" type="checkbox" value="" id="tenthCheckboxStretched">
                            <label class="form-check-label " for="tenthCheckboxStretched">10</label>
                            
                        </td>
                        <td>Belkacem</td>
                        <td>Samira</td>
                        <td>0681554409</td>
                        <td>s.belkacem@email.com</td>
                        <td>0 DA</td>
                    </tr>
                    <tr>
                        <td scope="row">
                             
                            <input class="form-check-input me-1" type="checkbox" value="" id="elevenCheckboxStretched">
                            <label class="form-check-label" for="elevenCheckboxStretched">11</label>
                            
                        </td>
                        <td>Khelifi</td>
                        <td>Yasmine</td>
                        <td>0662983410</td>
                        <td>y.khelifi@email.com</td>
                        <td>0 DA</td>
                    </tr>
                    <tr>
                        <td scope="row">
                             
                            <input class="form-check-input me-1" type="checkbox" value="" id="twelveCheckboxStretched">
                            <label class="form-check-label" for="twelveCheckboxStretched">12</label>
                            
                        </td>
                        <td>Tiato</td>
                        <td>Ilyan</td>
                        <td>0662983410</td>
                        <td>y.ilyan@email.com</td>
                        <td>1500 DA</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="d-flex justify-content-between align-items-center" style="width: 100%;"> <!-- pagination container-->
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item"><a href="#" class="page-link">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active">
                    <a class="page-link" href="#" aria-current="page">2</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>

            <p class="disabled-text" style="font-size: 14px;">Monter 11 resultat de 1000 Resultat</p>
        </div>

    </div>

</div>
</body>
</html>