<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header mb-4 py-2 px-3">
        <h4 class="modal-title" id="exampleModalLabel">Client informations</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body px-3 mb-3">
        
      </div>
      <div class="modal-footer py-3 px-3">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="savebtn" type="button" class="btn btn-primary d-none" data-bs-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>
