<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>



<body>


    <h1>TITLE TITLE </h1>
        <table border="2">
            <thead>
                <tr>
                    <th>ID Expedition</th>
                    <th>Type de service</th>
                    <th>Date Expedition</th>
                    <th>Statut</th>
                    <th>Destination</th>
                    <th>Client</th>
                    
                </tr>
            </thead>
            <tbody>
                {%for e in exp%}
                <tr>
                    <td>{{e.id}}</td>
                    <td>{{e.typeService.id}} </td>
                    <td>{{e.date_exped}}</td>
                    <td>{{e.statut}}</td>
                    <td>{{e.Client.id_client}}</td>
                    

                </tr>
                {%endfor%}
            </tbody>
        </table>
</body>
</html>